<!--在test.html文件夹下添加-->
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            body {
               background-color: orange;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        <strong>{{ current_time }}</strong>

      <ul>
        <!-- {% for book in list_book%}
        <li>{{book}}</li>
        {% endfor %} -->

        {% for article in list_article%}
        <li> <a href="/hello/test/{{article.id}}/">{{article}}</li>
        {% endfor %}

      </ul>

    </body>
</html>

<!--其中{{ current_time }}是Django Template中变量的表示方式-->
